/* https://colorhunt.co/palette/222831393e4600adb5eeeeee */

html,
body {
  padding: 0;
  margin: 0;
  background-color: #222831;
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.init-msg {
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.multicall-app {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.multicall-app-others-alone {
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.multicall-others {
  flex: 1;
  align-items: center;
  justify-content: space-around;
}

.multicall-others-user {
  margin: 20px;
  height: 250px;
  width: 250px;
}

.multicall-others-user > video {
  max-width: 250px;
  max-height: 250px;
  border-radius: 10px;
}

.multicall-others-user > .blank {
  width: 250px;
  height: 70px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 48px;
  vertical-align: middle;
  font-style: italic;
  background: rgba(0, 0, 0, 0.4);
}

.multicall-others-user > p {
  padding: 12px;
  position: relative;
  background-color: #000;
  top: -40px;
}

.multicall-panel {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.multicall-panel video {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .init-msg {
    font-size: 1.2em;
  }

  .multicall-panel {
    max-width: 250px;
  }

  .multicall-app-others-alone {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 800px) {
  .init-msg {
    font-size: 1em;
  }

  .multicall-app {
    flex-direction: column;
  }

  .multicall-app-others-alone {
    font-size: 1em;
  }

  .multicall-panel {
    flex-direction: row;
    max-width: 100%;
    max-height: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  }

  .multicall-panel video {
    max-width: auto;
    min-width: auto;
    width: auto;
    max-height: 100%;
  }
}
